@font-face {
	font-family: compiler-extrabold;
	src: url(/src/assets/fonts/Compiler_Fonts/Fontspring-DEMO-compilerplain-extrabold.otf);
}
.compiler-font{
	font-family:compiler-extrabold;
}
@font-face {
	font-family: kaushan-script;
	src: url(/src/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
.kaushan-script-font{
	font-family:kaushan-script;
}
